* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#adding-line-btn {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 10px 20px;
  background: #351c75;
  color: #FFF;
  border: none;
  border-radius: 10px;
}

#how-to-use {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
